@import 'https://use.typekit.net/oov2wcw.css';

html {
    font-family: century-gothic, sans-serif;
    text-align:center;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f0f8ff;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
}
.battleship{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-items: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 2px;
    justify-content: center;
    margin: 20px auto;
}
.cell{
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    background-color: #87ceeb;
    cursor: pointer;
}

.ship{
    background-color: #4682b4;
}

.miss{
    background-color: #d3d3d3;
}

.hit{
    cursor: default;
    pointer-events: none;
    background-color: rgb(201, 69, 69);
}
.turn{
    grid-column: span 2;
    font-size: 24px;
    margin-bottom: 10px;
}