@import 'https://use.typekit.net/oov2wcw.css';

html {
    font-family: century-gothic, sans-serif;
    text-align:center;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f0f8ff;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
}